asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
Django==3.0.8
django-appconf==1.0.4
django-crispy-forms==1.9.2
django-redis==4.12.1
django-select2==7.4.2
djangorestframework==3.11.0
idna==2.10
mysqlclient==2.0.1
numpy==1.19.0
pandas==1.0.5
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
xlrd==1.2.0
