{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" >
        {% csrf_token %}
        {{ form|crispy }}
         <select class="js-example-basic-single" name="exercise_selection">
             {% for exercise_name in exercise_name_list %}
                 <option>{{ exercise_name }}</option>
             {% endfor %}
         </select>
         <button type="submit" class="btn btn-success">Add Exercise</button>
    </form>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}