{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" >
        {% csrf_token %}
        {{ form|crispy }}
         <select class="js-example-basic-single" style="width: 50%" name="food_selection">
             {% for food in food_set.all %}
                 <option value="{{ food.id }}">{{ food.name }}</option>
             {% endfor %}
         </select>
         <button type="submit" class="btn btn-success">Add Food</button>
    </form>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}