{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" >
        {% csrf_token %}
        {{ form|crispy }}
    {% if daily_exercise_program.userexercise_set.all %}
         <select class="js-example-basic-single" name="deleted_exercise_selection">
            {% for user_exercise in daily_exercise_program.userexercise_set.all %}
                <option value="{{ user_exercise.id }}">{{ user_exercise.exercise }}</option>
             {% endfor %}
         </select>
         <button type="submit" class="btn btn-success">Delete</button>
    {% else %}
        <p>You haven't do any exercise yet.</p>
    {% endif %}
    </form>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });
    </script>
{% endblock %}